{% extends 'base.html' %}
    {% block title %}List of Accounts{% endblock title %}
    {% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
        <tbody>
            {% for list in account_list %}
            <tr>
                <td>{{ list.name }}</td>
                <td>{{ list.number }}</td>
                <td>{{ list.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}