{% extends 'base.html' %}
    {% block title %}Expense Category List{% endblock title %}

    {% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
        <tbody>
            {% for list in category_list %}
            <tr>
                <td>{{ list.name }}</td>
                <td>{{ list.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}
